body {
	background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
}

.weather-wrapper {
	background-color: aliceblue;
	margin: auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
}